/** { border: 1px solid red; }*/



html {

    height: 100vh!important;
    display:flex;
    background-color: bisque;
    justify-content: center;
    
}

body {
    min-width: 100%!important;
    min-height: 100%!important;
    flex:1 1 auto;
}

.welcomeContainer {

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.gameTitle {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-weight: 900;
    font-size: 3rem;
    background-color: rgb(150, 123, 175);
}

.choice {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.btnContainer {
margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:5rem;
    
    
    
    
    

}

img{

    
    
    object-fit: cover;
    width:100%;
    max-width: 200px;
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
    border-radius: 10%;
    
    

}



/*.imageContainer {

    background-color: bisque;
    
    display: flex;
    flex-direction: column;
}*/

img:hover {  /*Makes the image more opaque upon hover 
             for a button effect*/
    
    filter: brightness(50%); 

}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:3rem;
    padding-left: 0;
    
}

.scoreDiv {
    display: flex;
    align-items: center;
    
    min-width: 0;
    flex: 1 1 auto;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: black;
    color:rgb(57, 203, 49);
    padding:.5rem;
    font-size:3em;
    

    
}