* { border: 1px solid red; }



.welcomeContainer {

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.gameTitle {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-weight: 900;
    font-size: x-large;
    background-color: rgb(150, 123, 175);
}

.choice {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.btnContainer img{

    display: flex;
    flex-direction: row;
    object-fit: cover;
    width: 100%;
    max-width: 10rem;
    aspect-ratio: 1;
    border-radius: 10%;

}

.imageContainer {

    background-color: bisque;
    padding: 3rem;
}

img:hover {  /*Makes the image more opaque upon hover 
             for a button effect*/
    
    filter: brightness(50%); 

}


ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    
}

.scoreDiv {
    display: flex;
    gap:5rem;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    color:rgb(57, 203, 49);
    padding:2rem;
    font-size:2rem;

    
}